{% extends "base.html" %}

{% block content %}
<div class="main-page">
    <h1>Выберите параметры бронирования</h1>
    <form action="" method="post"  novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.user.label }}<br>
            {{ form.user }}<br>
            {% for error in form.user.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.car.label }}<br>
            {{ form.car }}<br>
            {% for error in form.car.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.day.label }}<br>
            {{ form.day(size=32) }}<br>
            {% for error in form.day.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.time.label }}<br>
            {{ form.time(size=32) }}<br>
            {% for error in form.time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.count.label }}<br>
            {{ form.count(size=32) }}<br>
            {% for error in form.count.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>
            {{ form.dayhour.label }}<br>
            {{ form.dayhour }}<br>
            {% for error in form.dayhour.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>{{ form.submit() }}</p>

    </form>
</div>
{% endblock %}