{% extends "base.html" %}

{% block content %}
<div class="main-page">
    <h1>Введите данные для смены пароля</h1>
    <form action="" method="post"  novalidate>

        {{ form.hidden_tag() }}
        <p>
            {{ form.old_password.label }}<br>
            {{ form.old_password(size=32) }}<br>
            {% for error in form.old_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.new_password.label }}<br>
            {{ form.new_password(size=32) }}<br>
            {% for error in form.new_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.new_password2.label }}<br>
            {{ form.new_password2(size=32) }}<br>
            {% for error in form.new_password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        
        <p>{{ form.submit() }}</p>
        {% if  current_user.role == "client" %}
        <a href="{{ url_for('client', username=current_user.username) }}">Назад</a>
        {% else %}
        <a href="{{ url_for('admin', username=current_user.username) }}">Назад</a>
        {% endif %}

    </form>
</div>
{% endblock %}