{% extends "base.html" %}

{% block content %}
    <h1>Регистрация в системе</h1>
    <form action="" method="post"  novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.city.label }}<br>
            {{ form.city }}<br>
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>{{ form.submit() }}</p>
        <a href="{{ url_for('client', username = current_user.username) }}">Назад</a>
    </form>
{% endblock %}