{% extends 'base.html' %}



{% block content %}
<body>      
      <h3>Условия аренды автомобилей</h3>
      <p>В компании ZDrive Вы можете арендовать автомобили только без водителя. Большинство представленных в нашем парке автомобилей являются дорогостоящими и уникальными,
        в связи с этим у нас есть определенные требования к клиентам, изложенные ниже.
      </p>

      <h4>Арендатор</h4>
      <p>Возраст - от 20 лет.</p>
      <p>Стаж вождения - от 2 лет.</p>

      <h4>Необходимые документы</h4>
      <p>Паспорт</p>
      <p>Водительское удостоверение</p>

      <h4>Страховой депозит</h4>
      <p>Зависит от стоимости автомобиля, не возвращается, если автомобиль получил повреждения и т.д.</p>

      <h4>Бронирование</h4>
      <p>Бронирование производится онлайн, если Вы используете интернет-оплату, для этого необходимо пополнить Ваш баланс на сайте.</p>
      <p>В ином случае Вы можете позвонить в автосалон, номер автосалона указан на странице информации об автомобиле.</p>
      <p>Есть возможность забронировать автомобиль как с почасовой оплатой, так и с посуточной оплатой.</p>
      <u>!!!При отмене бронирования депозит не возвращается!!!</u>

</body>
{% endblock %}