{% extends "base.html" %}

{% block content %}

    <h1>История аренды</h1>

    
    <h2>Оставьте отзыв</h2>
    <hr>
    {% for m in my_rent_without_feedback %}
    <p><a href="{{ url_for('about_car', type=m[10], id=m[9]) }}">{{ m[0] }} {{ m[1] }}({{ m[2] }})</a></p>
        <p>Дата начала: {{ m[5] }}</p>
        <p>Время начала: {{ m[6] }}</p>
        <p>Количество часов: {{ m[3] }}</p>
        <p>Адрес автосалона: {{ m[7] }}</p>
        <p>Итоговая стоимость: {{ m[4] }}</p>
        <a href="{{ url_for('add_feedback', offer_id=m[8]) }}">Оставить отзыв</a>
        <hr>
    {% endfor %}
    
    

    <h2>История</h2>
    <hr>
    {% for m in my_rent_with_feedback %}
        <p><a href="{{ url_for('about_car', type=m[9], id=m[8]) }}">{{ m[0] }} {{ m[1] }}({{ m[2] }})</a></p>
        <p>Дата начала: {{ m[5] }}</p>
        <p>Время начала: {{ m[6] }}</p>
        <p>Количество часов: {{ m[3] }}</p>
        <p>Адрес автосалона: {{ m[7] }}</p>
        <p>Итоговая стоимость: {{ m[4] }}</p>
        
        <hr>
    {% endfor %}
    

{% endblock %}